<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <include resource="logback/console-appender.xml"/>
    <include resource="logback/file-appender.xml"/>

    <springProfile name="local">
        <logger name="com.growup.pms" level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <logger name="p6spy" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/discord-appender.xml"/>

        <logger name="com.growup.pms" level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="ASYNC_DISCORD"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="ASYNC_DISCORD"/>
        </logger>
    </springProfile>
</configuration>
